PORT=5000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:3000,https://your-frontend.vercel.app
APP_BASE_URL=https://your-frontend.vercel.app
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/invite?retryWrites=true&w=majority
CLOUD_NAME=
API_KEY=
API_SECRET=
